@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
    margin: 0;
    overflow-y: hidden;
    font-family: cursive;
    background: #B79891;
    background: -webkit-linear-gradient(to right, #94716B, #B79891);
    background: linear-gradient(to right, #94716B, #B79891);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.fit {
    object-fit: scale-down;
}